{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/home/index.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% include "menu.html" %}

<!doctype html>
<html>


<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		Blossom Nails Spa Home
	</title>
</head>

<body>
    <div class="view" style="background-image: url('{% static 'home/images/blossoms.jpg''}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    	<div class="mask rgba-black-light align-items-center">
    		<div class="container" style="padding-top: 25px;">
    			<!-- <p id="title"> Blossom Nails & Spa </p>
    			<p id="description"> The Perfect Nails Spa in Troy </p>
    			<p id="number"> Call Today: 248-817-6663 </p>
    			<p id="message"> Appointment Preferred </h1>
    			<p id = "message"> Walk-Ins Welcome!!!</h1> -->
    			<h1> Blossom Nails & Spa</h1>
    		</div>
    	</div>


	<style> 
		.view {
			background-image:url("{% static 'home/images/blossoms.jpg'%}");
			opacity: 0.5;
			width: 100%;
			height: 100%;
			background-size:cover;
			background-attachment: fixed;
			min-height: 200vh;
			margin: 0 ;
		}
	</style>
</body>
<script>
var slideIndex = 0;
var slides = document.getElementsByClassName("caro-image")
var automatic;
var timer;
var debugging_clock = setInterval(print, 1000)
automate();

function slide() {
	var i;
	clearImages();
	slideIndex++;
	displayImage();
};

function clearImages() {
	var slides = document.getElementsByClassName("caro-image")
	for (i=0; i < slides.length; i++){
		slides[i].style.display = "none"
	}
}

function displayImage() {
	if (slideIndex > slides.length) { slideIndex = 1}
	if (slideIndex < 1) { slideIndex = 17}
	slides[slideIndex-1].style.display= "block"
	// console.log(slideIndex-1);
}

function automate() {
	automatic = setInterval(slide, 3000);
}

function print() {
	console.log("a second has passed by");
}

function changeImage(i) {
	clearTimeout(timer);
	clearInterval(automatic);
	slideIndex += i;
	clearImages();
	displayImage();
	timer = setTimeout(automate, 5000);
}



</script>

</html>



