{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'contact/contact.css' %}" />

{% include "menu.html" %}

<!DOCTYPE html>
<html>
<head>
<title> Contact Us </title>
<style> #map {
	position: relative;
	height: 300px;
	width: 75%;
	margin-left: auto;
	margin-right:auto;
	z-index: 1;
}
</style>
</head>

<body>
	<div id="relative">
	<div id="background"> </div>
	<div id="body-contents">
		<!-- Move everything in here -->
		<h1> Our Location </h1>
		<div id="map"></div>
		<script>
		function initMap() {
			var loc = {lat: 42.592754, lng: -83.127548}
			var map = new google.maps.Map(
			document.getElementById('map'), {zoom:14, center: loc});
			var marker = new google.maps.Marker({position: loc, map: map});
			var contentString = '<p> Blossom Nails Spa </p>' + 
				'<p> 1057B East Long Lake Rd </p>' +
				'<p> Troy, MI 48085 </p>';
			var infowindow = new google.maps.InfoWindow({
			content: contentString});
			marker.addListener('mouseover', function() {
			infowindow.open(map, marker);});
		}
		</script>

		<script async defer
		src = "https://maps.googleapis.com/maps/api/
		js?key=AIzaSyCpnTbmTiwyKVdXdxJwP02Vw6T3ll-F2EM&callback=initMap">
		</script>
		<h1> Contact Us </h1>
		<form method = "post">
		{% csrf_token %}
		<div class= "formFields">
			<!-- <ul class="fields">
				<li id="fn" class="contact">{{form.fn}}</li>
				<li id="ln" class="contact">{{form.ln}}</li>
				<li id="email" class="contact">{{form.email}}</li>
				<li id="content"class="contact">{{form.content}}</li>
			</ul> -->

			<!--<div class="block">
				<label>First Name:</label>
				<p> {{form.fn}} </p>
			</div>
			<div class="block">
				<label>Last Name:</label>
				<p> {{form.ln}} </p>
			</div>
			<div class="block">
				<label>Email:</label>
				<p> {{form.email}} </p>
			</div>
			<div class="block">
				<label>Content:</label>
				<p> {{form.content}} </p>
			</div> -->
			<div class="form-block">
				{{form.as_p}}
			</div>
			<div class="form-names">
				{{form.as_p}}
			</div>
			<input class="sub-button" type="submit" value="Send message" />
		</div>
		
		
		</form>
	</div>
	</div>
<style>
	#background {
		/*background-image: url("{% static '/contact/images/blossom.jpg' %}");*/
		background: url("{% static '/contact/images/blossom.jpg'%}") no-repeat fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: 100% 100%;
		min-height: 150vh;
		/*height: 100%;*/
		width: 100%;
		opacity: 0.5;
	}
</style>
</body>

</html>
