{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'background.css' %}" />
	{% block extrahead %}{% endblock %}
</head>
<body>
	<!-- <div style="position:relative; ">      
      <div style=" background-image:url("{% static 'home/images/blossoms.jpg'%}"); opacity:0.5; filter:alpha(opacity=40);height:520px; width:520px;"></div>

       <div style="position:absolute; top:10px; z-index:100;left:10px;height:500px;width:500px;">
            Your Div Contents are  Here..................
       </div>
    </div> -->
    <div id="relative"> 
    	<div id="background">
    	</div id="body-contents">
    		{% block body %}{% endblock %}
    	</div>
    </div>

	<style> 
		#background {
			background-image:url("{% static 'home/images/blossoms.jpg'%}");
			opacity: 0.5;
			width: 100%;
			height: 100%;
			background-size:cover;
			background-attachment: fixed;
			min-height: 150vh;
		}
	</style>
</body>