{% load static %}

<script> 
	function myFunc() {
		document.getElementById("contents").classList.toggle("btnshow");
	};

	window.onclick = function(event) {
		if (!event.target.matches('.btn')) {
			var btnstuff = document.getElementById("contents");
			btnstuff.classList.remove("btnshow");
			// conso}le.log("True")
		}
	};
	// (function () {
	// var img = document.getElementById("insta_button");
	// img.onload = function() {
	// 	img.height='50%';
	// 	img.width='auto';
	// };
	// }());
</script>

<html>


<head>
	<link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'background.css' %}" />
	{% block extrahead %}{% endblock %}
</head>

<body>
	<div class="buttonholder">
		<div class="menubutton">
			<div class=logo>
				{% load staticfiles %}
				<img src="{% static 'dao_logo.jpg' %}" onclick="myFunc()" class="btn">
			</div>
			<div id="contents" class="btncontents">
				<a href="/home/">Home</a>
				<a href="/specials/">Specials</a>
				<a href="/contact/">Contact</a>
			</div> 

		</div>
<!-- 		<div class=logo>
			<a class="nail_logo" href="/home/">{% load staticfiles %}<img src="{% static 'dao_logo.jpg' %}"></a>
		</div> -->
		<div class="fb_div">
			<a class="fbbutton" title="follow me on facebook" href="http://www.facebook.com">{% load staticfiles %}<img src="{% static 'fb_logo.png' %}"></a>
		</div>
		<div class="insta_div">
			<a class="instabutton" title="follow me on instagram" href="http://www.instagram.com"> {% load staticfiles %}<img id="insta_button" src="{% static 'insta_logo.png' %}"></a>
		</div>
	</div>
<style>
	.buttonholder {
		height: 60px;
		background: white;
	}
</style>
</body>

</html>