
h1 {
	display: inline;
	color: blue;	
	text-align: center;
}



#carousel {
	display: inline-block;
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.caro-image {
	position: relative;
	max-height: 50vh;
	max-width: 75%;
	display: none;
	text-align: center;
	margin: 0 auto;
}

.left-button {
	/*top: 50%;*/
	margin-top: -25%;
	float: left;
}

.right-button {
	/*top: 50%;*/
	margin-top: -25%;
	float: right;
}


body {
	height: 100%;
}

html {
	height: 100%;
}